{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div class="container-fluid">
    {% if portfolio is not null and portfolio is not empty %}
        <div class="card mt-2">
            <h5 class="card-header">Portfolio {{ portfolio.id }}</h5>
            <div class="card-body">
                <b>Allocations</b>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Shares</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for allocation in portfolio.allocations %}
                        <tr>
                            <td>{{ allocation.id }}</td>
                            <td>{{ allocation.shares }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <b>Orders</b>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Allocation</th>
                        <th>Shares</th>
                        <th>Type</th>
                        <th>Completed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.allocation }}</td>
                            <td>{{ order.shares }}</td>
                            <td>{{ order.type }}</td>
                            <td>{{ order.completed == 0 ? 'false' : 'true' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Portfolio not found!
        </div>
    {% endif %}
</div>
{% endblock %}
